.container{
  margin: 100px;
  text-align: center;
}

.form-container{
  margin: 0 auto;
  border: 1px solid rgb(205, 205, 205);
  text-align: left;
  width: 500px;
  border-radius: 0.5%;
  box-shadow: 0px 0px 10px #d5d5d5;
}

.form-inside-container {
  margin: 20px;
}

.input-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.label-container {
  width: 30%;
}

.options-container{
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 70%;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.invalid {
  border: 1px solid rgb(255, 0, 0);
}

.form-state {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(207, 207, 207);
}
